<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<p>
  <b>User:</b>
  <%= @album.user.email %>
</p>

<p>
  <b>Photos:</b>
  <% Photo.all.each do |p| %>
    <%= image_tag p.image %>
  <% end %>
</p>


<% debug @album %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
